@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000000;
  font-family: "DM Sans", sans-serif;
}
button {
  font-family: "Poppins", sans-serif;
}

header {
  padding: 18px 60px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 44px;
}

.nav-links a {
  color: #dbdbdb;
  text-decoration: none;
  font-size: 16px;
}
.nav-links button {
  background-color: #e87a12;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  color: #dbdbdb;
  font-weight: 400;
}
/* Menu icon - hidden on large screens */
.menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: #dbdbdb;
}
.showcase {
  background-image: url("./img/Group\ 2361.png");
  background-position: center;
  background-size: 180%;
  /* background-repeat: no-repeat; */
  height: 86.6vh;
  position: relative;
}
.text {
  position: absolute;
  top: 60%;
  left: 5%;
  width: 50vw;
  color: #ffffff;
}
.text h2 {
  font-size: 45px;
}
.text p {
  font-size: 18px;
}
.meet-team {
  margin: 80px 0;
  padding: 0 80px;
}
.team-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.team-info h3 {
  font-weight: 900;
  font-size: 40px;
  color: #ffffff;
}
.team-info p {
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  width: 739px;
}
.team-info > button {
  background-color: #e87a12;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  color: #000;
  font-weight: 500;
}
.team-members {
  margin-top: 80px;
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
}
.team-members > div {
  background-color: #eeeeec;
  width: 300px;
  height: 300px;
  border-radius: 12px;
  flex-shrink: 0;
  overflow-y: hidden;
  position: relative;
}
.team-members > div img {
  width: 100%;
  height: 100%;
}
.text-overlay {
  z-index: 4444444;
  position: absolute;
  top: 85%;
  text-align: center;
  width: 100%;
}
.text-overlay h4,
p {
  color: #ffffff;
}
.team-members::-webkit-scrollbar {
  display: none;
}
footer {
  margin: 80px 0 30px 0;
  padding: 0 80px;
}
footer .country-icon {
  display: flex;
  gap: 10px;
}
.footer-text {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}
.footer-nav-links a {
  color: #dbdbdb;
  text-decoration: none;
  font-size: 16px;
  margin-right: 6px;
}
footer button {
  color: #ffffff;
  background-color: transparent;
  border: 2px solid #eeeeec;
  padding: 10px 15px;
}
.footer-copy {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-copy p {
  color: #ffffff;
}
.footer-icons {
  color: #ffffff;
  display: flex;
  gap: 20px;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .team-info {
    /* display: block; */
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
  .team-info p {
    width: 100%;
  }
}

@media screen and (max-width: 900px) {
  header {
    padding: 18px 0px;
  }
  nav {
    padding: 12px 20px;
    position: relative;
  }

  .nav-links {
    position: absolute;
    top: 90px;                   
    left: 0;
    width: 100%;
    background: #000;            
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-height: 0;              
    overflow: hidden;
    transition: max-height 0.3s ease;
    padding: 0px 20px 0px 0;         
  }

  .nav-links.active {
    max-height: 250px;           
    padding: 0px 20px 20px 0;         
  }

  .menu-icon {
    display: block;
    margin-bottom: 5px;
  }
    .text {
    position: absolute;
    top: 60%;
    left: 5%;
    width: 80vw;
    color: #ffffff;
  }
  .large-screen-only {
    display: none;
  }
  .footer-copy,
  .footer-text {
    flex-direction: column;
    gap: 1rem;
    align-items: start;
  }
}
@media screen and (max-width: 600px) {
  header {
    padding: 10px 0px;
  }
  .showcase {
    background-size: 850%;
    background-position: 60% center;
  }
  .text {
    position: absolute;
    top: 60%;
    left: 5%;
    width: 90vw;
    color: #ffffff;
  }
  .text h2 {
    font-size: 45px;
  }
  .text p {
    font-size: 16px;
  }
  .meet-team {
    margin: 60px 0;
    padding: 0 30px;
  }
  .team-info {
    align-items: start;
    text-align: left;
  }
  .team-info h3 {
    font-size: 30px;
  }
  .team-info p {
    font-size: 16px;
  }
  .team-members {
    margin-top: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .team-members > div {
    width: 250px;
    height: 250px;
  }
  footer {
    padding: 0 30px;
  }
}
